<div id="<%= dom_id book_room %>">
  <p>
    <strong>Check In:</strong>
    <%= book_room.checkIn %>
  </p>

  <p>
    <strong>Check Out:</strong>
    <%= book_room.checkOut %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book_room.description %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= book_room.room_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= book_room.customer_id %>
  </p>

</div>
