<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Book_room</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to book_rooms_path, class: button_class(theme: "transparent") do %>
      All Book_rooms
      <% end %>
      <%= link_to edit_book_room_path(@book_room), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Check In:</p>
        <p><%= @book_room.checkIn %></p>
      </li>
      <li>
        <p class="font-semibold">Check Out:</p>
        <p><%= @book_room.checkOut %></p>
      </li>
      <li>
        <p class="font-semibold">Description:</p>
        <p><%= @book_room.description %></p>
      </li>
      <li>
        <p class="font-semibold">Room:</p>
        <p><%= @book_room.room.id %></p>
      </li>
      <li>
        <p class="font-semibold">Customer:</p>
        <p><%= @book_room.customer.fullName %></p>
      </li>
  </ul>
</div>
