<div id="<%= dom_id room %>">
  <p>
    <strong>Bednum:</strong>
    <%= room.bedNum %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= room.description %>
  </p>

  <p>
    <strong>Isavailable:</strong>
    <%= room.isAvailable %>
  </p>

  <p>
    <strong>Checkoutdate:</strong>
    <%= room.checkOutDate %>
  </p>

</div>
